<div class = 'container'>
  <div class = 'row'>
    <div class = 'col'>
      <div class="text-center mt-2">
      <h3>グループ一覧</h3>
      </div>
      <%= render 'index', groups: @groups %>
    </div>
  </div>
</div>