<div class="container">
  <div class="row my-2 offset-1">
    <h4>投稿編集</h4>
  </div>
  <div class="row justify-content-center my-2 ">
    <%= render "public/shared/error_messages", resource: @post %>
    <%= render 'public/posts/form', post: @post %>
  </div>
</div>