<div class="container">
  <div class="row justify-content-center my-2 ">
    <div class ="col-md-6">

      <div class="text-center my-2">
        <h2>管理者ログイン</h2>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="table table-borderless">
          <tr>
            <td>メールアドレス</td>
            <td> <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width: 300px;" %></td>
          </tr>
          <tr>
            <td>パスワード</td>
            <td><%= f.password_field :password, autocomplete: "current-password", style: "width: 300px;" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "ログイン", class:"btn btn-sm btn-primary" %></td>
          </tr>
        </table>
      <% end %>

    </div>
  </div>
</div>