<div class="container">
  <div class="row justify-content-center my-2">
    <div class="col">
      <div class="text-center">
        <h3>検索結果</h3>
      </div>
        <h4>全<%= @records.count %>件</h4>
        <% if @records.empty? %>
          <h6 style="color:red;">該当する投稿はありません</h6>
        <% else %>
          <%= render 'public/posts/index', posts: @records %>
        <% end %>
      <div class ="d-flex justify-content-center">
        <%= paginate @records %>
      </div>
    </div>
  </div>
</div>