<div class="container">
  <div class="row justify-content-center my-2">

    <div class="col-md-9">
      <h3>musicommuとは</h3>

      <table class="table ">
        <tbody>
          <tr>
            <td>
              <h5>＜自分の好きな音楽を共有＞</h5>
              <p>お気に入りの音楽やアーティスト、演奏や楽器について<br>
                ライブの感想など様々な投稿ができます。</p>
            </td>
            <td>
              <%= image_tag "1.png", size: "400x120", class: "img-fluid rounded ml-auto" %>
            </td>
          </tr>
          <tr>
            <td>
              <h5>＜メンバー募集＞</h5>
              <p>バンドのメンバーや一緒に練習する仲間を募集したり、<br>気になっている募集にコメントすることができます。</p>
            </td>
            <td>
              <%= image_tag "2.png", size: "400x120", class: "img-fluid rounded ml-auto" %>
            </td>
          </tr>
          <tr>
            <td>
              <h5>＜グループチャット＞</h5>
              <p>好きな音楽について仲間と話し合える自由に利用できる<br>グループチャットです。<br>自分で新しいグループを作ることもできます。</p>
            </td>
            <td>
              <%= image_tag "3.png", size: "400x120", class: "img-fluid rounded ml-auto" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>