<div class="container">
  <div class="row justify-content-center my-2">

    <div class="col-md-9">
      <h3>musicommuとは</h3>

      <table class="table-about">
        <tbody>
          <tr>
            <td>
              <h6>＜自分の好きな音楽を共有＞</h6>
              <p>お気に入りの音楽やアーティスト、演奏や楽器について
                ライブの感想など様々な投稿ができます。</p>
            </td>
            <td>
              <%= image_tag "1.png", size: "350x140" %>
            </td>
          </tr>
          <tr>
            <td>
              <h6>＜メンバー募集＞</h6>
              <p>バンドのメンバーや一緒に練習する仲間を募集したり、気になっている募集にコメントをして参加や交流ができます。</p>
            </td>
            <td>
              <%= image_tag "2.png", size: "350x140" %>
            </td>
          </tr>
          <tr>
            <td>
              <h6>＜グループ機能＞</h6>
              <p>好きな音楽について仲間と話し合える自由に利用できるグループチャットです。<br>自分で新しいグループを作ることもできます。</p>
            </td>
            <td>
              <%= image_tag "3.png", size: "350x140" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>