<div class="container">
  <div class="row justify-content-center my-2">
    <div class="col-md-8">
      <%= image_tag "top.jpg",class: "card-img" %>
      <p class = "text-center my-2">
      ようこそ、musicommuへ！<br>
      音楽好きのためのコミュニティサイトです!<br>
      音楽が好きで新しい出会い、演奏する仲間を見つけたい方はもちろん、<br>
      楽器未経験者で音楽好きの方も大歓迎です。
      </p>
    </div>
  </div>
</div>