<div class="container">
  <div class="row justify-content-center mt-2 mb-2">
    <div class="col-md-10">
      <%= image_tag "top.jpg",class: "card-img" %>
      <p class = "text-center">
      ようこそ、musicommuへ！<br>
      音楽好きのための談話仲間やバンドメンバーを見つけるコミュニティサイトです。<br>
      新しく音楽が好きな人と関わり演奏や音楽についての談話などをしたい方、<br>
      楽器経験者以外の音楽が好きな方にも利用してもらえるような音楽を共有できる場所です！
      </p>
    </div>
  </div>
</div>