<div class="container">
  <div class="row justify-content-center mt-2 mb-2">
    <div class="col">
      <h4>募集一覧</h4>
      <%= link_to "　新規投稿する　", new_band_post_path, class:"btn btn-primary" %>

    </div>
  </div>
</div>