<div class="container">
  <div class="row justify-content-center mt-2 mb-2">
    <div class="col">
      
      <div class="text-center">
        <h4>メンバー募集</h4>
      </div>
      <div class="text-right mb-3">
        <%= link_to "　新規募集する　", new_band_post_path, class:"btn btn-sm btn-primary" %>
      </div>
      
      <!--バンド募集した一覧-->
      <%= render 'public/band_posts/index', band_posts: @band_posts %>
      <div class ="d-flex justify-content-center">
        <%= paginate @band_posts %>
      </div>
    </div>
  </div>
</div>