<div class="container">
  <div class="row my-2 offset-1">
    <h2>新規募集</h2>
  </div>
  <div class="row justify-content-center my-2 ">
      <%= render "public/shared/error_messages", resource: @band_post %>
      <%= render 'public/band_posts/form', band_post: @band_post %>
  </div>
</div>