<div class="container">
  <div class="row justify-content-center mt-2 mb-2">
    <div class="col">
      <h2>新規募集</h2>
      <%= render "public/shared/error_messages", resource: @band_post %>
      <%= render 'public/band_posts/form', band_post: @band_post %>
    </div>
  </div>
</div>