<div class="container">
  <div class="row justify-content-center mt-2 mb-2">
    <div class="col">
      <div class="text-center">
        <h4><%= @user.name %>さんが募集した投稿</h4>
      </div>
        <% if @band_posts.any? %>
          <%= render 'public/band_posts/index', band_posts: @band_posts %>
        <% else %>
          <div class="text-center">
            <div class="alert alert-info" role="alert">
              募集の投稿をされていません
            </div>
          </div>
        <% end %>
    <div class="d-flex justify-content-center">
      <%= paginate @band_posts %>
    </div>
  </div>
</div>