<div class="container">
  <div class="row my-2">
    <div class="col">
      <div class="text-center">
        <h3>いいね一覧</h3>
      </div>
        <% if @favorite_posts.any? %>
          <%= render 'public/posts/index', posts: @favorite_posts %>
            <div class ="d-flex justify-content-center">
              <%= paginate @favorite_posts %>
            </div>
        <% else %>
        <div class="text-center">
          <div class="alert alert-info" role="alert">
            いいねした投稿はありません
          </div>
        </div>
        <% end %>
  </div>
</div>