<div class = 'container'>
  <div class = 'row'>
    <div class = 'col'>
      <div class="text-center mt-2">
      <h4><%= @user.name %>さんが参加しているグループ</h4>
      </div>
        <% if @groups.any? %>
          <%= render 'public/groups/index', groups: @groups %>
        <% else %>
        <div class="alert alert-info" role="alert">
          <p style="text-align: center; ">参加しているグループがありません</p>
        </div>
        <% end %>
    </div>
  </div>
</div>