<div class = 'container'>
  <div class = 'row'>
    <div class = 'col'>
      <div class="text-center mt-2">
      <h4><%= @user.name %>さんが参加しているグループ</h4>
      </div>
        <% if @groups.any? %>
          <%= render 'public/groups/index', groups: @groups %>
        <% else %>
        <div class="text-center">
          <div class="alert alert-info" role="alert">
            参加しているグループがありません
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>