<div class="container">
  <div class="row my-3">

    <div class='col-md-3'>
      <%= render 'info', user: @user %>
    </div>

      <!--会員が有効か退会かで表示-->
      <% if @user.is_active? %>
      <div class ="col-md-9 my-2">
        <div style="text-align: center;">
          <h3><%= @user.name %>さんの投稿一覧</h3>
        </div>
        <% if @posts.any? %>
          <%= render 'public/posts/index', posts: @posts %>
        <% else %>
          <div class="text-center">
            <div class="alert alert-info" role="alert">
              投稿されていません
            </div>
          </div>
        <% end %>
        <div class ="d-flex justify-content-center">
        <%= paginate @posts %>
        </div>
      </div>
      <% else %>
      <div class="col-md-9 text-center">
        <p class="alert alert-danger">このユーザーは退会済みです。</p>
      </div>
      <% end %>

  </div>
</div>