<div class="container">
  <div class="row">
    <div class="mx-auto" style="color: white;">
      <p>©Musicommu</p>
    </div>
  </div>
  <div class="row">
    <div class="col" style="color: white; width: 100%; text-align: right;">
      <p>
        お問い合わせ:メール<i class="far fa-envelope"></i> musicommu@admin.com<br>
      </p>
    </div>
  </div>
</div>